<form [formGroup]="stripVersion" (onSubmit)="payment()">
  <div class="row">
      <input type="text" formControlName="name" placeholder="Gagan">
  </div>
  <div class="row">
    <label for="card-number">
      Credit Card number
    </label>
    <div id="card-number">

    </div>
    <div id="card-errors" role="alert"></div>
  </div>
  <div class="row">
    <label for="card-expiry">
      Card expiry date
    </label>
    <div id="card-expiry">

    </div>
    <div id="card-errors" role="alert"></div>
  </div>

  <div class="row">
    <label for="card-cvc">
      cvc
    </label>
    <div id="card-cvc">

    </div>
    <div id="card-errors" role="alert"></div>
  </div>
  <input type="submit" value="Payment">
</form>